@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #022859;
  --color-secundary: #04bfbf;
  --color-text: #fff;

  --font: "Spartan", sans-serif;
}

/* Estilos Padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 105vh;
  background-color: var(--color-primary);
  background: linear-gradient(
    to bottom,
    hsla(214, 96%, 18%, 1) 43%,
    hsla(0, 0%, 0%, 1) 100%
  );
  color: var(--color-text);
  font-family: var(--font);
}

img {
  max-width: 100%;
  display: block;
}

svg {
  fill: var(--color-text);
  width: 2rem;
  height: 2rem;
}

a {
  display: block;
  text-decoration: none;
  padding: 15px 15px 15px 30px;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 21px;
  position: relative;
}

main.container {
  max-width: 400px;
  margin: 0 auto;
}

/* Cabeçalho */
.cabecalho {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cabecalho img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.cabecalho h1 {
  margin: 1rem;
  font-size: 1.5rem;
}

/* Content */
.content {
  width: 100%;
}

.content .card {
  width: 100%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  background-color: var(--color-secundary);
  border-radius: 1rem;
  box-shadow: 0 14px 26px rgb(0 0 0 / 4%);
  transition: 0.4s;
}

.content .card:nth-child(1) {
  padding: 15px 15px 15px 50px;
  background-color: #10f11a;
  color: var(--color-primary);
}

.content .card:nth-child(1)::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 1.5rem;
  position: absolute;
  bottom: 25px;
  left: 20px;
  color: var(--color-text);
}

.content .card:nth-child(2) {
  background-color: #e40000;
}

.content .card:nth-child(2)::before {
  content: "\f16a";
  font-family: FontAwesome;
  font-size: 1.5rem;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.content .card:nth-child(3) {
  background-color: #00a1ff;
}

.content .card:nth-child(3)::before {
  content: "\f3fe";
  font-family: FontAwesome;
  font-size: 1.5rem;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.content .card:nth-child(4) {
  background-color: #9712ee;
}

.content .card:nth-child(4)::before {
  content: "\f06b";
  font-family: FontAwesome;
  font-size: 1.5rem;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.content .card:nth-child(5) {
  background-color: #737373;
}

.content .card:nth-child(5)::before {
  content: "\f164";
  font-family: FontAwesome;
  font-size: 1.5rem;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.content .card:hover {
  transform: translateY(-1px) translateZ(0) scale(1.05);
  box-shadow: 0 24px 36px rgb(0 0 0 / 11%);
}

/* Footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul {
  display: flex;
  list-style: none;
}

.footer ul li {
  margin-right: 20px;
}

.footer ul li a {
  padding: 10px;
  transition: 0.4s;
}

.footer ul li a:hover {
  animation: rotation 5s linear infinite;
}

/* Animações */
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsividade */

@media only screen and (max-width: 390px) {
  body {
    height: 40vh;
  }
  a {
    font-size: 0.9375rem;
  }

  /* Cabeçalho */
  .cabecalho img {
    width: 140px;
    height: 140px;
  }

  .cabecalho h1 {
    font-size: 1.2rem;
  }

  .content .card:nth-child(1)::before {
    bottom: 35px;
  }
}
